{% apply spaceless %}
    <div class="page-footer">
    {% set year = 2020 %}
        <div class="page-footer-inner"> <strong>Copyright &copy; {{ year ~ ' - ' ~ (date() | date('Y')) }}.</strong> All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <strong>{{ sas.semart_name ~ '[' ~ sas.semart_codename ~ '@' ~ sas.semart_version ~ ']' }} by <a href="https://github.com/KejawenLab" target="_blank">KejawenLab</a></strong>
        </div>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
    </div>
    
{% endapply %}
